
<hr>

<label for="name">Name</label>
<input type="text" class="form-control" ng-model="name" />
  
<hr>
<h3>Search Results</h3>
<label for="search">Search: </label>
<input type="text" value="Doe" class="form-control">

<div class="list-group pt-5">
  <search-result></search-result>
</div>
<hr>
  
<div class="mb-5">
   <label>What is your twitter handle?</label>
   <input ng-model="handle" type="text" class="form-control">
</div>
                
<div class="alert mt-5" role="alert" ng-show="handle.length !== characters"
 ng-class="{ 'alert-warning': handle.length < characters, 'alert-danger': handle.length > characters  }">
  <div ng-show="handle.length < characters">
    You have less than 5 characters!
  </div>
   <div ng-show="handle.length > characters">
    You have more than 5 characters!
  </div>
</div>
<hr>
<h1 ng-cloak>twitter.com/{{ lowercaseHandle() }}</h1>

<hr>

<button type="button" class="btn btn-primary" ng-click="alertClick()">Click me!</button>
